*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    background: url('/Portfolio-1/projects/Nike/app/img/header_bg_image.jpg') no-repeat center / cover;
    height: 660px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}
.nav_link{
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: #cb0a15;
}
.nav_link{
    padding: 0 25px;
    padding: 22px 25px;
    font-size: 18px;
    color: #4d4d4d;
    font-weight: bold; 
}
.nav_link:hover{
    background-color: #515151;
    color: #f7f7f7;
}
.nav_list{
    display: flex;
    padding: 22px 0;
}
li{
    list-style: none;
}
.header_title{
    font-size: 40px;
    font-weight: bold;
    color: #cb0a15;
    padding: 160px 0 45px;
    text-align: center;
}
.header_text{
    font-size: 18px;
    font-weight: normal;
    color: #4d4d4d;
    text-align: center;
}
span{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
/* header end */
/* main */
.main_blog{
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}
.left, .right{
    width: 560px;
}
.left_title{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    padding: 60px 0 30px;
}
.right_item{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.right_text{
    font-size: 16px;
    font-weight: 400;
    color: #919191;
    line-height: 24px;
}
.right_title{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    width: 370px;
    padding-bottom: 25px;
}
.left_text{
    font-size: 16px;
    font-weight: 400;
    color: #919191;
    line-height: 24px;
}
.img{
    padding-right: 30px;
}
/* main end */
.big{
    font-size: 20px;
    font-weight: bold;
    color: #cb0a15;
    text-decoration: none;
    line-height: 24px;
    padding-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 20px;
}
.foot_link:hover{
    color: #cb0a15;
    font-size: 16px;
}

.foot__contact{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.foot__contact__text{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 17px;
    /* color: #fff; */
    color: #000;
    font-weight: 400;
    padding: 0 20px;
}
.foot__contact__text:hover{
    text-decoration: underline;
    color: #ff4167;
}
