@font-face {
    font-family: 'Raleway';
    src: url('https://uzcoin404.github.io/Portfolio-1/projects/app/fonts/Raleway-Light.eot');
    src: url('/projects/burger/app/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('/projects/burger/app/fonts/Raleway-Light.woff2') format('woff2'),
        url('/projects/burger/app/fonts/Raleway-Light.woff') format('woff'),
        url('/projects/burger/app/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/projects/burger/app/fonts/Raleway-Black.eot');
    src: url('/projects/burger/app/fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('/projects/burger/app/fonts/Raleway-Black.woff2') format('woff2'),
        url('/projects/burger/app/fonts/Raleway-Black.woff') format('woff'),
        url('/projects/burger/app/fonts/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/projects/burger/app/fonts/Raleway-Bold.eot');
    src: url('/projects/burger/app/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('/projects/burger/app/fonts/Raleway-Bold.woff2') format('woff2'),
        url('/projects/burger/app/fonts/Raleway-Bold.woff') format('woff'),
        url('/projects/burger/app/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/projects/burger/app/fonts/Raleway-Thin.eot');
    src: url('/projects/burger/app/fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('/projects/burger/app/fonts/Raleway-Thin.woff2') format('woff2'),
        url('/projects/burger/app/fonts/Raleway-Thin.woff') format('woff'),
        url('/projects/burger/app/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('https://uzcoin404.github.io/Portfolio-1/projects/app/fonts/Raleway-Regular.eot');
    src: url('https://uzcoin404.github.io/Portfolio-1/projects/app/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://uzcoin404.github.io/Portfolio-1/projects/app/fonts/Raleway-Regular.woff2') format('woff2'),
        url('https://uzcoin404.github.io/Portfolio-1/projects/app/fonts/Raleway-Regular.woff') format('woff'),
        url('https://uzcoin404.github.io/Portfolio-1/projects/app/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/projects/burger/app/fonts/Roboto-Bold.eot');
    src: url('/projects/burger/app/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/projects/burger/app/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/projects/burger/app/fonts/Roboto-Bold.woff') format('woff'),
        url('/projects/burger/app/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

