@media (max-width: 1200px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 992px) and (min-width: 851px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    header{
        height: 100vh;
    }
    .nav{
        width: var(--col-12);
        justify-content: space-between;
    }
    .head__title{
        font-size: 56px;
    }
    .head__subtitle{
        font-size: 36px;
    }
    .head__text{
        width: var(--col-11);
        font-size: 16px;
    }
    .head__button{
        font-size: 42px;
        padding: 25px 60px;
    }

    .card{
        width: var(--col-12);
    }
    .price{
        padding: 15px 25px;
    }
    .info__title{
        font-size: 32px;
    }
    .info__text{
        font-size: 16px;
    }
    .map__title{
        font-size: 30px;
    }
    .maps{
        width: var(--col-12);
    }
    .foot__nav__link{
        font-size: 16px;
    }
}
@media (max-width: 850px) and (min-width: 751px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    header{
        height: 100vh;
    }
    .nav{
        display: block;
    }
    .nav__blog{
        flex-direction: column;
    }
    .logo{
        display: inline-block;
        margin-top: 10px;
    }
    .nav__link{
        margin-top: 10px;
    }
    .head__title{
        font-size: 56px;
    }
    .head__subtitle{
        font-size: 36px;    
    }
    .head__text{
        width: var(--col-11);
        font-size: 16px;
    }
    .head__button{
        font-size: 48px;
        padding: 20px 60px;
    }
    .main__nav__link{
        font-size: 16px;
    }
    .main__nav__list{
        display: flex;
        justify-content: center;
    }

    .col-4{
        width: var(--col-6);
    }

    .info__title{
        font-size: 30px;
    }
    .info__text{
        font-size: 16px;
    }
    .map__title{
        font-size: 30px;
    }
    .maps{
        width: var(--col-12);
    }

    .foot__nav__link{
        font-size: 16px;
    }
}
@media (max-width: 750px) and (min-width: 651px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    header{
        height: 100vh;
    }
    .nav{
        display: block;
    }
    .nav__blog{
        flex-direction: column;
    }
    .logo{
        display: inline-block;
        margin-top: 10px;
    }
    header{
        height: 80vh;
    }
    .logo{
        display: inline-block;
        font-size: 22px;
        margin-top: 10px;
    }
    .nav__link{
        margin-top: 10px;
        font-size: 18px;
        width: 105px;
        height: 80px;
    }
    .two{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head__title{
        font-size: 48px;
    }
    .head__subtitle{
        font-size: 28px;    
    }
    .head__text{
        font-size: 16px;
    }
    .head__button{
        font-size: 42px;
        padding: 20px 55px;
    }
    .main__nav__link{
        font-size: 18px;
    }

    .col-4{
        width: var(--col-12);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 450px;
    }
    .card__img{
        width: 450px;
        height: 450px;
    }
    .card__text{
        text-align: center;
    }
    .price{
        padding: 25px 60px;
    }
    .card__title{
        font-size: 26px;
    }
    .card__text{
        font-size: 18px;
    }

    .info__title{
        font-size: 30px;
    }
    .info__text{
        font-size: 16px;
    }
    .map__title{
        font-size: 30px;
    }
    .maps{
        width: var(--col-12);
    }

    .foot__nav__link{
        font-size: 16px;
    }
}
@media (max-width: 650px) and (min-width: 577px) {

    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav__list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #060002;
        display: block;
        padding-top: 50px;
        transition: all 0.5s ease;
    }
    .nav__link{
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
    }
    .nav.sticky{
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .nav__list.active{
        left: 0;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }

    .logo{
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
    }
    .nav__link{
        margin-top: 10px;
        font-size: 18px;
        width: 105px;
        height: 80px;
    }
    .two{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head__title{
        font-size: 44px;
    }
    .head__subtitle{
        font-size: 32px;    
    }
    .head__text{
        font-size: 16px;
    }
    .head__button{
        font-size: 42px;
        padding: 20px 55px;
    }
    .main__nav__link{
        font-size: 18px;
    }
    .main__nav__list{
        display: flex;
        justify-content: center;
    }

    .col-4{
        width: var(--col-12);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 400px;
    }
    .card__img{
        width: 400px;
        height: 400px;
    }
    .card__text{
        text-align: center;
        font-size: 20px;
    }

    .info__title{
        font-size: 30px;
    }
    .info__text{
        font-size: 16px;
    }
    .map__title{
        font-size: 30px;
    }
    .maps{
        width: var(--col-12);
    }

    .foot__nav__link{
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav__list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #060002;
        display: block;
        padding-top: 50px;
        transition: all 0.5s ease;
    }
    .nav__link{
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
    }
    .nav.sticky{
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .nav__list.active{
        left: 0;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }

    header{
        height: 80vh;
    }
    .logo{
        display: inline-block;
        font-size: 18px;
        margin-top: 10px;
    }
    .nav__link{
        margin-top: 5px;
    }
    .two{
        width: 24px;
        height: 20x;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head__title{
        font-size: 32px;
        width: min-content;
        padding-top: 60px;
    }
    .head__subtitle{
        font-size: 24px;    
    }
    .head__text{
        width: var(--col-11);
        font-size: 14px;
    }
    .head__button{
        font-size: 32px;
        padding: 15px 40px;
    }
    .main__nav__link{
        display: inline-block;
        font-size: 18px;
        padding: 5px 0;
    }
    .main__nav__list{
        display: block;
        text-align: center;
    }

    .col-4{
        width: var(--col-12);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 300px;
    }
    .card__img{
        width: 300px;
        height: 300px;
    }
    .card__text{
        text-align: center;
        font-size: 18px;
    }

    .info__title{
        font-size: 24px;
    }
    .info__title::after{
        width: 150px;
    }
    .info__text{
        font-size: 14px;
    }
    .map__title{
        font-size: 24px;
    }
    .maps{
        width: var(--col-12);
    }
    .nav__icons{
        flex-direction: column;
    }

    .foot__number{
        font-size: 20px;
    }
    .foot__blog__title{
        font-size: 20px;
    }
    .foot__nav__list{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .foot__nav__link{
        padding: 0 15px;
    }
}
