@media (max-width: 1200px) and (min-width: 993px) {
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .part1__img, .part2__img, .part3__img{
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    h1{
        font-size: 60px;
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .nav__blog{
        width: max-content;
    }
    .head__text{
        width: 500px;
    }
    .part1__img, .part2__img, .part3__img{
        width: 300px;
        height: 200px;
    }
    .part1__title{
        font-size: 44px;
        position: absolute;
        left: 200px;
        top: 70px;
    }
    .part2{
        position: relative;
    }
    .part2__title{
        top: 100px;
        left: 75px;
    }
    .part3{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .foot1__addres{
        font-size: 48px;
    }
    .foot1__title{
        font-size: 48px;
    }
    .foot2__title{
        font-size: 52px;
    }
    .foot1__addres{
        font-size: 42px;
    }
}

@media (max-width: 700px) {

    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .menu-btn{
        display: block;
    }
    .nav__list{
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: #ff6d6d;
        display: block;
        text-align: center;
        padding-top: 50px;
        transition: all 0.5s ease;
    }
    .nav__list.active{
        left: 0;
    }
    .nav__link{
        display: inline-block;
        color: #fff;
        padding: 15px 30px;
    }
    .nav__link:hover{
        background: none;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
}

@media (max-width: 576px){

    .nav__blog{
        width: 80%;
    }
    .logo{
        padding-bottom: 10px;
    }
    h1{
        font-size: 48px;
    }
    .head__text{
        width: 400px;
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .part1__img, .part2__img, .part3__img{
        width: 300px;
        height: 200px;
    }
    .part1__title{
        width: 100%;
        text-align: left;
        font-size: 40px;
        position: absolute;
        top: 70px;
    }
    .part1, .part2, .part3{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 500px;
    }
    .part2__title{
        font-size: 40px;
        top: 100px;
    }
    .part3{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .part3__text{
        width: 500px;
    }
    .part3__title{
        font-size: 48px;
        text-align: center;
    }
    .who__text{
        width: 500px;
    }
    .photo1{
        height: 150px;
    }
    .foot1__addres{
        font-size: 36px;
    }
    .foot1__title{
        font-size: 36px;
    }
    .foot2__title{
        font-size: 40px;
    }
}
