@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.eot');
    src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../fonts/PTSerif-Regular.woff') format('woff'),
        url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Couture';
    src: url('../fonts/Couture-Bold.eot');
    src: url('../fonts/Couture-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Couture-Bold.woff2') format('woff2'),
        url('../fonts/Couture-Bold.woff') format('woff'),
        url('../fonts/Couture-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quite Chocolatey';
    src: url('../fonts/QuiteChocolatey.eot');
    src: url('../fonts/QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('../fonts/QuiteChocolatey.woff2') format('woff2'),
        url('../fonts/QuiteChocolatey.woff') format('woff'),
        url('../fonts/QuiteChocolatey.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

