*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    /* width: 100%; */
    margin: 0 auto;
}
.header{
    background: url("/Portfolio-1/projects/Toshkent/app/img/bg_img.jpg") no-repeat center / cover;
    height: 600px;
}
h2{
    font-size: 50px;
    font-weight: 400;
    color: #70869d;
    padding-top: 200px;
}
h1{
    font-size: 70px;
    color: #404040;
    padding-bottom: 260px;
}
/* Header end */
/* Main begin */
.section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display: flex;
    align-items: center;
    width: 530px;
    margin-top: 110px;
}
.card__blog{
    padding-left: 30px;
}
.card__title{
    font-size: 20px;
    color: #1f3750;
}
.card__text{
    color: #70869d;
    padding-bottom: 25px;
}
.card__button{
    color: #70869d;
    font-size: 20px;
    padding: 15px 50px 10px 60px;
}
.card__button:hover{
    background: #0092b6;
    color: #fff;
    padding: 15px 50px 10px 60px;
}
.blogs{
    display: flex;
    justify-content: space-between;
}
.section1{
    background-color: #f3f9ff;
    margin-top: 100px;
}
.blog{
    margin: 0 30px 0 30px;
    width: 200px;
}
.h4{
    font-size: 18px;
    color: #1f3750;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
.blog__img{
    padding-bottom: 25px;
}
.blog__text{
    color: #70869d;
    padding-bottom: 25px;
    font-size: 16px;
}
.blog__a{
    text-decoration: underline;
    color: #70869d;
    padding-bottom: 25px;
}
.blog__a:hover{
    color: #1f3750;
    font-weight: bold;
}
.all{
    display: flex;
    justify-content: space-between;
}
.section__title{
    padding: 100px 0 45px;
    text-align: center;
    color: #1f3750;
    font-size: 20px;
}
.left__a, .right__a{
    color: #70869d;
    font-size: 20px;
    line-height: 30px;
}
.left__a:hover{
    color: #0092b6;
}
.right__a:hover{
    color: #0092b6;
}

/* Main end */

/* Footer begin */
.footer{
    margin-top: 100px;
    padding: 45px 0 45px;
}
.nav{
    background-color: #f3f9ff;
}
.logo__text{
    font-size: 20px;
    font-weight: bold;
    color: #444444;
}
.nav__blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.nav__list{
    display: flex;
}
.nav__link{
    text-align: center;
    padding-left: 30px;
    font-size: 14px;
    color: #6d6d6d;
}

.foot__contact{
    display: flex;
    justify-content: start;
}
.foot__contact__text{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 17px;
    /* color: #fff; */
    color: #000;
    padding-bottom: 10px;
    font-weight: 400;
    padding: 0 20px;
}
.foot__contact__text:hover{
    text-decoration: underline;
    color: #ff4167;
}
/* Footer end */
