@font-face {
    font-family: 'Quite Chocolatey';
    src: url('/projects/Galleria/app/fonts/QuiteChocolatey.eot');
    src: url('/projects/Galleria/app/fonts/QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('/projects/Galleria/app/fonts/QuiteChocolatey.woff2') format('woff2'),
        url('/projects/Galleria/app/fonts/QuiteChocolatey.woff') format('woff'),
        url('/projects/Galleria/app/fonts/QuiteChocolatey.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}