@media (max-width: 1200px) and (min-width: 993px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .cards{
        justify-content: space-evenly;
    }
    .card{
        margin: 10px 0;
    }
    .service .container{
        flex-wrap: wrap;
    }
    .circle{
        margin-top: 30px;
    }
    .art__content{
        grid-template: "1fr 1fr 1fr" 250px
                       "1fr 1fr 1fr" 250px
                       "1fr 1fr 1fr" 250px
                       "1fr 1fr 1fr" 250px
                       "1fr 1fr 1fr" 250px;
    }
}

@media (max-width: 768px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .head__name{
        font-size: 64px;
    }
    .head__text{
        font-size: 28px;
    }
    .cards{
        justify-content: space-evenly;
    }
    .card{
        margin: 10px 0;
    }
    .service .container{
        flex-wrap: wrap;
    }
    .circle{
        margin-top: 30px;
    }
    .art__content{
        grid-template: "1fr 1fr 1fr" 33.33vh
                       "1fr 1fr 1fr" 33.33vh
                       "1fr 1fr 1fr" 33.33vh
                       "1fr 1fr 1fr" 33.33vh;
    }
    .box.a, .box.e, .box.g{
        grid-row: span 1;
    }
    .box.i{
        grid-column: span 1;
    }
    .box.d{
        grid-row: span 1;
    }
    .footer .container{
        flex-wrap: wrap;
    }
    .addres{
        padding-top: 30px;
    }
    .help{
        padding-top: 30px;
    }
    .information{
        padding-top: 30px;
    }
}

@media (max-width: 660px){

    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .nav__list{
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: #222;
        display: block;
        text-align: center;
        padding-top: 50px;
        transition: all 0.5s ease;
    }
    .nav__list.active{
        left: 0;
        transition: all 0.5s ease;
    }
    .nav__link{
        display: block;
        margin: 20px 0;
    }
}

@media (max-width: 576px) {
    .head__name{
        font-size: 56px;
    }
    .head__text{
        font-size: 24px;
    }
    .art__content{
        padding: 100px 0 0;
    }
    .head__link{
        padding: 10px 20px;
        font-size: 18px;
    }
    .galery__title{
        font-size: 30px;
    }
    .circle{
        margin: 0 0 30px 0;
        padding: 0;
        width: 240px;
        height: 240px;
    }
    .circle__text{
        display: none;
    }
    .circle__subtitle{
        padding: 10px 0 15px;
    }
    .art__content{
        grid-template: "1fr 1fr" 30vh
                       "1fr 1fr" 30vh
                       "1fr 1fr" 30vh
                       "1fr 1fr" 30vh
                       "1fr 1fr" 30vh
                       "1fr 1fr" 30vh;
    }
    .art__down__link{
        font-size: 16px;
        padding: 5px 10px;
    }
    .art__down__link i{
        font-size: 20px;
    }
    .soc-media p{
        width: 90%;
    }
}
